* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    font-weight: bold;
}

ul li {
    cursor: pointer;
}

.riscado {
    text-decoration: line-through;
}