* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin: 35px;
    margin-top: 300px;
}

button {
    font-weight: bold;
}

ul li {
    cursor: pointer;
    display: flex;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input {
    padding: 5px;
    font-size: 100%;
    height: 40px;
    width: 180px;
}

.container button {
    padding: 5px;
    font-size: 100%;
    height: 40px;
}

.riscado {
    text-decoration: line-through;
}